<header>
    <div class="container">
        {{!-- <div class="row"> --}}
            <div class="form-group row">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" id="first_name" placeholder="Jack" required />
            </div>
            <div class="form-group row">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" id="last_name" placeholder="Robinson" required />
            </div>
            <div class="form-group row">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="your@email.com">
            </div>
            <div class="form-group row">
                <label for="phone">Phone</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">+234</div>
                    </div>
                    <input type="tel" class="form-control" id="phone" placeholder="812 222 2222" required />
                </div>
            </div>
        {{!-- </div> --}}
    </div>
</header>
<section>

</section>